fastapi
uvicorn
websockets
python-telegram-bot
requests
openai
python-dotenv
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
google-cloud-pubsub
msgraph-core
azure-identity
aiohttp
notion-client
Praxos-python
python-magic
PyPDF2
python-docx
pandas
openpyxl
motor
ffmpeg-python
aiofiles
pymongo
azure-keyvault-secrets
langgraph
langgraph-prebuilt
langchain[openai]
langchain-community
google-genai
google-ai-generativelanguage==0.8.0
langchain-google-genai==3.0.0
langchain_google_community
pydantic
croniter
pytz
apscheduler
httpx
azure-cosmos
gunicorn
azure-keyvault-secrets
azure-identity
redis
azure-servicebus
starlette
anyio
pydub
azure-storage-blob
azure-servicebus
pytz
googlemaps
dropbox
beautifulsoup4
lxml
fpdf2
portkey_ai
pip-tools
python-multipart
google-search-results
slack-sdk
PyNaCl