fastapi
uvicorn
websockets
python-telegram-bot
aiohttp
requests
openai
python-dotenv
aiohttp
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
google-cloud-pubsub
msgraph-core
azure-identity
aiohttp
notion-client
Praxos-python
python-magic
PyPDF2
python-docx
pandas
openpyxl
motor
ffmpeg-python
aiofiles
pymongo
azure-keyvault-secrets
langgraph==0.6.3
langgraph-prebuilt
langchain[openai]==0.3.27
langchain-community
langchain-google-genai
langchain_google_community
pydantic
croniter
pytz
httpx
azure-cosmos
gunicorn
azure-keyvault-secrets
azure-identity
redis
azure-servicebus
google-generativeai
starlette
anyio
pydub
azure-storage-blob
azure-servicebus
pytz
googlemaps
dropbox
beautifulsoup4
playwright==1.55.0
lxml
fpdf2
portkey_ai
pip-tools
python-multipart